<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="default"
            fileName="${basedir}/logs/general_${shortdate}.log"
            keepFileOpen="false"
            encoding="iso-8859-2"
            >
      <layout xsi:type="CsvLayout" >
        <column layout="${shortdate}" name="date" />
        <column layout="${time}" name="time" />
        <column layout="${processid}" name="processid" />
        <column layout="${threadid}" name="threadid" />
        <column layout="${logger}" name="date" />
        <column layout="${level}" name="level" />
        <column layout="${message}" name="message" />
      </layout>
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="default" />
  </rules>
</nlog>